
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* background-color:rgb(125, 11, 190); */
  background-color: rgb(123,104, 238);
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.header-right {
  margin-left: 10px;
}

.bell-icon {
  padding-top: 2px;
  margin-right: 5px;
}

.bell-icon svg {
  fill: white;
  height: 20px;
  width: 20px;
}

.bell-icon .bell-icon path {
  fill: transparent;
  stroke: 10;
  stroke: #ffffff;
}

.bell-icon .bell-icon path {
  stroke-dasharray: 97;
  stroke-dashoffset: 0;
}

.bell-icon .bell-icon:hover path {
  animation: animate-bell-icon 1s linear forwards
}

@keyframes animate-bell-icon {
  0% {
    stroke-dashoffset: 0;
  } 40% {
    stroke-dashoffset: 97;
  } 80% {
    stroke-dashoffset: 194;
    fill: transparent;
  } 100% {
    stroke-dashoffset: 194;
    fill: #ffffff;
  }
}

 header h1 {
  font-size: 15px;
  margin-right: 20px;
}

img.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin-left: 120px;
  margin-bottom: 10px; */
}

h3.profile-name {
  font-size: 10px;
  margin-left: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 60px;
  padding-top: 12px;
  /* background-color: indigo; */
  background-color: rgb(72, 61, 139);
  padding-bottom: 8px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 60px;
}

.nav img {
  width: 24px;
  height: 24px; 
}

.icons-1,
.icons-2,
.icons-3,
.icons-4 {
  margin-right: 15px;
}

.twitter,
.facebook,
.google {
    height: 30px;
    width: 30px;
}

.main {
  display: flex;
  /* justify-content: center; */
}

.main-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
}

.main-header-search {
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.h3 {
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

ul.traffic-nav-button {
  margin-left: 20px;
  list-style-type: none;
}

/* for styling buttons */
button {
  border-radius: 20%;
  padding:1px;
  margin-right:3px;
  /* background-color: green;
  color: white; */
}

.twitter-container {
  display: flex;
  border-radius: 5px;
  width: 70%;
  height: 3%;
  padding-top: 10px;
  padding-left: 15px;
  margin-left: 6px;
  margin-right: 80px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}

.twitter-image {
  margin-right: 20px;
  margin-top: 5px;
}

.twitter-text {
  font-size: 30px;
}

p.Ttag {
  font-size: 15px;
}

.facebook-container {
 display: flex;
 border-radius: 5px;
 width: 70%;
 height: 3%;
 padding-top: 10px;
 margin-left: 6px;
 margin-right: 80px;
 margin-bottom: 5px;
 border: 2px solid lightgrey;
 background-color: lightblue;
}

.facebook-image {
  margin-right: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.facebook-text {
  font-size: 30px;
}

p.Ftag {
  font-size: 15px;
}

.google-container {
  display: flex;
  border-radius: 5px;
  width: 70%;
  height: 3%;
  padding-top: 10px;
  margin-left: 6px;
  margin-right: 80px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue; 
}

.google-image {
  margin-right: 19px;
  margin-left: 15px;
  margin-top: 5px;
}

.google-text {
  font-size: 30px;
}

p.Gtag {
  font-size: 15px;
}

p.Ttag,
p.Ftag,
p.Gtag {
  color: rgb(72, 61, 139);
}

hr {
  margin-top: 20px;
}

img.profile-image-1 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
}

img.profile-image-2 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
}

img.profile-image-3 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
} 

 img.profile-image-4 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
}

p.memberName-1 {
  font-size: 10px;
  margin-left: 70px;
}

p.memberName-2 {
  font-size: 10px;
  margin-left: 87px;
}

p.memberName-3 {
  font-size: 10px;
  margin-left: 82px;
}

p.memberName-4 {
  font-size: 10px;
  margin-left: 85px;
}

a {
  font-size: 12px;
  margin-left: 31px;
}

a.email-2 {
  margin-left: 45px;
}

a.email-3 {
  margin-left: 39px;
}

a.email-4 {
  margin-left: 42px;
}

p.date-1 {
  font-size: 10px;
  margin-left: 22%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-2 {
  font-size: 10px;
  margin-left: 22%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-3 {
  font-size: 10px;
  margin-left: 22%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-4 {
  font-size: 10px;
  margin-left: 22%;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* button .traffic-nav-link {
  display: flex;
  justify-content: center;
} */

.grid-container {
  display: grid;
}


