
body {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 10px;
  background-color: rgb(123,104, 238);
  color: white;
}

h1.tradeMark {
  font-size: 5px;
  margin-bottom: -7px;
  margin-left: 55px;
}

.alertBox1 {
  position: absolute;
  width: 150px;
  /* width: 155px; */
  top: 30px;
  z-index: 1;
  /* font-size: 7px; */
  font-size: 10px;
  margin-bottom: 3px;
}

.notif1 {
  border: 1px solid black;
  border-radius: 6px;
  /* background-color: lightblue; */
  background-color: blue;
  color: white;
  padding: 2px;
  height: 30px;
}

.x-container {
  position: relative;
  left: 132px;
  bottom: 23px;
}

p.alertBox1-close {
  margin-left: 5px;
}

.vertical-line {
  border-left: 1px solid darkgrey;
  height: 30px;
  margin-right: 12px;
}

.header-right {
  display: flex;
  align-items: center;
  /* margin-right: 80px; */
  margin-right: 150px;
}

.header-right {
  margin-left: 84px;
  /* margin-left: 80px; */
  /* margin-left: 60px; */
  margin-right: auto;
}

.bell-icon {
  display: relative;
  padding-top: 2px;
  margin-right: 5px;
}

.bell-icon svg {
  fill: white;
  height: 20px;
  width: 20px;
 
  top: 10px;
}

.bell-icon .bell-icon path {
  /* fill: transparent; */
  stroke: 10;
  stroke: #ffffff;
}

.bell-icon .bell-icon path {
  stroke-dasharray: 97;
  stroke-dashoffset: 0;
}

.bell-icon .bell-icon:hover path {
  animation: animate-bell-icon 1s linear forwards
}

@keyframes animate-bell-icon {
  0% {
    stroke-dashoffset: 0;
  } 40% {
    stroke-dashoffset: 97;
  } 80% {
    stroke-dashoffset: 194;
    fill: transparent;
  } 100% {
    stroke-dashoffset: 194;
    fill: #ffffff;
  }
}

 header h1 {
  font-size: 15px;
  margin-right: 20px;
}

h1.tm {
  font-size: 5px;
  /* display: inline-block; */
  margin-left: 75px;
  /* margin-bottom: -30px */
}

img.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

h3.profile-name {
  font-size: 8px;
  /* font-size: 10px; */
  margin-left: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 12px;
  background-color: rgb(72, 61, 139);
  margin-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 45px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 30px;
  margin-top: 5px;
  width: 200px;
}

.hourly:focus {
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px;
}

.daily:focus {
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px;
}

.weekly:focus {
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px;
  
}

.monthly:focus {
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
  margin-right: 15px;
  padding: 5px;
}

.nav img {
  width: 24px;
  height: 24px; 
}

.twitter,
.facebook,
.google {
    height: 30px;
    width: 30px;
}

.main {
  display: flex;
}

.main-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 2px;
  margin-right: 220px;
}
.tab {
  margin-left: 40%;
  border-left: 1px solid grey;
  border-bottom: 1px solid grey;
  background-color: azure;
}

h2 {
  font-size: 16px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 12px;
  margin-left: 20px;
  
}

.alert-banner {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  border: 1px solid black;
  border-radius: 5px;
  width: 90%;
  background-color: mediumpurple;
  color: white;
  margin-left: 20px;
  padding: 5px;
}

p.alert-banner-close {
  margin-left: 50px;
}

.h3 {
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

ul.traffic-nav-button {
  margin-left: 20px;
  margin-bottom: 10px;
  list-style-type: none;
}

li.traffic-nav-link {
  font-size: 12px;
  
}

/* for styling buttons */
button {
  border-radius: 20%;
  padding:1px;
  border: none;
}

button#hourly,
button#daily,
button#weekly,
button#monthly {
  margin-right: 10px;
}

hr.between-charts,
hr.social-stats {
  margin-top: 20px;
}


.twitter-container {
  display: flex;
  border-radius: 5px;
  width: 95%;
  height: 3%;
  padding-top: 10px;
  padding-left: 15px;
  margin-left: 10px;
  margin-right: 80px;
  margin-bottom: 8px;
  border: 2px solid lightgrey;
  /* background-color: lightblue; */
  background-color: #F0FFFF;
}

.twitter-image {
  margin-right: 20px;
  margin-top: 5px;
}

.twitter-text {
  font-size: 30px;
}

p.Ttag {
  font-size: 15px;
}

.facebook-container {
 display: flex;
 border-radius: 5px;
 width: 95%;
 height: 3%;
 padding-top: 10px;
 margin-left: 10px;
 margin-right: 80px;
 margin-bottom: 8px;
 border: 2px solid lightgrey;
 /* background-color: lightblue; */
 background-color: #F0FFFF;
}

.facebook-image {
  margin-right: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.facebook-text {
  font-size: 30px;
}

p.Ftag {
  font-size: 15px;
}

.google-container {
  display: flex;
  border-radius: 5px;
  width: 95%;
  height: 3%;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 80px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  /* background-color: lightblue;  */
  background-color: #F0FFFF;
}

.google-image {
  margin-right: 19px;
  margin-left: 15px;
  margin-top: 5px;
}

.google-text {
  font-size: 30px;
}

p.Gtag {
  font-size: 15px;
}

p.Ttag,
p.Ftag,
p.Gtag {
  color: rgb(72, 61, 139);
}

img.profile-image-1 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
}

.members-1-container {
  margin-left: 40px;
} 

img.profile-image-2 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 20px;
}

.members-2-container {
  margin-left: 40px;
}

img.profile-image-3 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 20px;
} 

.members-3-container {
  margin-left: 40px;
}

 img.profile-image-4 {
  width: 40px;
  border-radius: 50%;
  margin-left: 90px;
  margin-top: 20px;
}

.members-4-container {
  margin-left: 40px;
}

p.memberName-1 {
  font-size: 10px;
  margin-left: 70px;
}

p.memberName-2 {
  font-size: 10px;
  margin-left: 87px;
}

p.memberName-3 {
  font-size: 10px;
  margin-left: 82px;
}

p.memberName-4 {
  font-size: 10px;
  margin-left: 85px;
}

a {
  font-size: 12px;
  margin-left: 23px;
}

a.email-2 {
  margin-left: 45px;
}

a.email-3 {
  margin-left: 39px;
}

a.email-4 {
  margin-left: 42px;
}

p.date-1 {
  font-size: 10px;
  margin-left: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-2 {
  font-size: 10px;
  margin-left: 32%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-3 {
  font-size: 10px;
  margin-left: 32%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.date-4 {
  font-size: 10px;
  margin-left: 32%;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.comments-1,
p.comments-2,
p.comments-3,
p.comments-4 {
  font-size: 12px;
  text-align: center;
  margin-right: 35%;
  /* margin-left: 42px; */
  margin-left: 28px;
  /* display: flex;
  overflow-wrap: break-word; */
}


p.time {
  font-size: 10px;
  margin-left: 30%;
}
p.time-4 {
  font-size: 10px;
  margin-left: 30%;
}

div.arrow-1,
div.arrow-2,
div.arrow-3,
div.arrow-4 {
  visibility: hidden;
}

hr.members {
  margin-top: 20px;
}
 
hr.recent-activity {
  margin-top: 10px;
}
.members-hr-1024px {
  visibility: hidden;
}

.messageSettings-hr-1024px {
  visibility: hidden;
}

input#userfield {
  margin-left: 10px;
  height: 25px;
  width: 95%;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid lightgrey;
  /* background-color: lightblue; */
  background-color: #F0FFFF;
}

textarea#messageField {
  margin-left: 10px;
  width: 95%;
  height: 100px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  /* background-color: lightblue; */
  background-color: #F0FFFF;
}

button#send {
  margin-left: 10px;
  width: 95%;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  color: white;
  background: rgb(123, 104, 238)
}

h3.setting {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.toggle-switch-1 {
  display: flex;
}

.toggle-switch-2 {
  display: flex;
}

p.notification-1 {
  font-size: 12px;
  margin-right: 75px;
  margin-left: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
}

p.notification-2 {
  font-size: 12px;
  margin-right: 90px;
  margin-left: 10px;
  padding-bottom: 30px;
  padding-top: 10px;
}

label.switch-light.switch-candy {
  width: 28%;
}

.break {
  margin-bottom: 10px;
  margin-top: 20px;
}

select#timezone {
  margin-left: 10px;
  width: 95%;
  height: 30px;
  border-radius: 5px;
  border: 2px solid lightgrey;
  /* background-color: lightblue; */
  background-color: #F0FFFF;
}

.settings-button {
  margin-top: 15px;
  margin-left: 10px;
}

button#save {
  width: 46%;
  height: 30px;
  margin-right: 12px;
  border-radius:5px;
  color: white;
  background-color: rgb(123, 104, 238);
}

button#cancel {
  width: 46%;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: grey;
}


/* grid section */
.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 70px 1fr;
  grid-template-areas: 
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
}

div {
  grid-area: nav;
}

main {
  grid-area: main;
}

 /* Media query 768px */ /* Media query 768px */ /* Media query 768px */

@media (min-width: 768px) {
  header {
    grid-area: header;
    height: 85px;
  }
  
  div {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
  }

.grid-container {
  height: 100%;
  /* grid-template-rows: 70px 75px 1fr; */
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
  "header header"
  "nav main";
 }

 header h1 {
   font-size: 25px;
   
 }

 h1.tradeMark {
   margin-left: 95px;
   margin-bottom: -16px;
 }

 .alertBox1 {
   font-size: 11px;
   right: 1px;
 }

 .notif1 {
  height: 40px;
  width: 165px;
  padding-top: 3px;
 }

 .x-container {
  bottom: 24px;
  margin-left: 12px;
 }

 .header-right {
   margin-left: 66%;
 }

 .nav {
   margin-bottom: 20px;
   margin-top: 25px;
 }


 .nav ul {
   display: inline;
   margin-right: 70px;
 }


 li.icons-1,
 li.icons-2,
 li.icons-3,
 li.icons-4 {
   margin-bottom: 20px;
 }

 .main-header {
   margin-right: 600px;
   margin-top: 10px;
 }
 .main {
   margin-top: 21px;
 }
 .tab {
   width: 80%;
   margin-right: 20px;
   margin-left: 20%;
   margin-top: 25px;
 }

 .alert-banner {
   width: 95%;
   padding: 8px;
 }

 p.alert-banner-close {
   margin-left: 420px;
 }

 h2 {
   /* margin-left: 10px; */
   font-size: 20px;
   margin-top: 25px;
 }

 .traffic-header {
   display: inline-flex;
 }

 h3.h3 {
   margin-left: 22px;
 }

 ul.traffic-nav-button {
   margin-top: 7px;
   margin-left: 430px;
 }

 .dailyMobile-flex {
   display: flex;
 }

 section.mobile {
   margin-bottom: 20px;
 }

 h3#daily-traffic,
 h3#mobile-users {
   font-size: 10px;
 }

 .social-container {
   display: flex;
   /* width: 95%; */
   width: 100%;
  
 }

 .twitter-container {
   width: 100%;
   margin-right: 2px;
   margin-left: 20px;
 }

 .facebook-container {
   width: 100%;
   margin-right: 2px;
 }

 .google-container {
   width: 100%;
   margin-right: 2px;
   margin-right: 20px;
 }

 /* new Members section */

 /* member 1 container (768px) */
 .members-1-container {
   display: flex;
   margin-left: 20px;
 }
 img.profile-image-1 {
  width: 8%;
  margin-left: 10px;
 }
 p.memberName-1 {
   margin-left: 2px;
   margin-left: 22px;
   margin-top: 14px;
 }
 p.date-1 {
   margin-top: 25px;
   margin-left: 57%;
 }
 /* member 2 container (768px) */
 .members-2-container {
   display: flex;
   margin-left: 20px;
 }
 img.profile-image-2 {
   width: 8%;
   margin-left: 10px;
 }

 p.memberName-2 {
  margin-left: 2px;
  margin-left: 22px;
  margin-top: 35px;
 }
 a.email-2 {
   margin-left: 22px;
 }
 p.date-2 {
   margin-top: 45px;
   margin-left: 62.6%;
 }
 /* member 3 container (768px) */
 .members-3-container {
   display: flex;
   margin-left: 20px;
 }
 img.profile-image-3 {
  width: 8%;
  margin-left: 10px;
 }
 
 p.memberName-3 {
   margin-left: 2px;
   margin-left: 22px;
   margin-top: 35px;
 }
 a.email-3 {
   margin-left: 22px;
 }
 p.date-3 {
   margin-top: 50px;
   margin-left: 61%;
 }
 /* member 4 container (768px) */
 .members-4-container {
   display: flex;
   margin-left: 20px;
 }
 img.profile-image-4 {
  width: 8%;
  margin-left: 10px;
 }
 
 p.memberName-4 {
   margin-left: 2px;
   margin-left: 22px;
   margin-top: 35px;
 }
 a.email-4 {
   margin-left: 22px;
 }
 p.date-4 {
   margin-top: 44px;
   margin-left: 62%;
 }


/* recent activity (768px) */
p.comments-1 {
  display: inline-block;
  margin-right: 50px;
  margin-top: 20px;
}
p.comments-2 {
  display: inline-block;
  margin-right: 50px;
  margin-top: 40px;
}
p.comments-3 {
  display: inline-block;
  margin-right: 50px;
  margin-top: 40px;
}
p.comments-4 {
  display: inline-block;
  margin-right: 50px;
  margin-top: 40px;
}

p.time {
  margin-left: 8%;
}
p.time-4 {
  font-size: 10px;
  margin-left: 10%;
}

.members-1-comments {
  display: flex;
}

div.arrow-1 {
  visibility: visible;
  margin-top: 20px;
  margin-left: 250px;
}

.members-2-comments {
  display: flex;
} 

div.arrow-2 {
  visibility: visible;
  margin-top: 40px;
  margin-left: 280px;
}

.members-3-comments {
  display: flex;
}

div.arrow-3 {
  visibility: visible;
  margin-top: 40px;
  margin-left: 257px;
}

.members-4-comments {
  display: flex;
}

div.arrow-4 {
  visibility: visible;
  margin-top: 40px;
  margin-left: 348px;
}

div.comment-arrow-1,
div.comment-arrow-2,
div.comment-arrow-3,
div.comment-arrow-4 {
  visibility: visible;
}

.members-hr-1024px {
  visibility: hidden;
}

.messageSettings-hr-1024px {
  visibility : hidden;
}

input#userfield {
  width: 95%;
  margin-left: 20px;
}
textarea#messageField {
  width: 95%;
  margin-left: 20px;
}
button#send {
  width: 95%;
  margin-left: 20px;
}
label.switch-light.switch-candy {
  width: 12%;
}
select#timezone {
  width: 95%;
  margin-left: 20px;
}

h3.setting {
  margin-left: 20px;
}

.toggle-switch-1,
.toggle-switch-2 {
  margin-left: 10px;
}

button#save {
  width: 48%;
  margin-right: 4px;
}
button#cancel {
  width: 48.5%;
}
.settings-button {
  margin-bottom: 40px;
  margin-left: 20px;
}

hr.between-charts {
  margin-top: 0px;
  margin-left: 2px;
}
}

.main {
  display: grid;
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    margin-top: 1px;
  }
  .traffic, .social-container {
    grid-column: 1 / span 2;
    margin-bottom: 20px;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
    /* padding-right: 2px; */
  }
  .mobile, .recent-activities, .settings {
    grid-column: 2 / span 1;
  }
}


.widget-container-full, .widget-container-half {
    width: 95vw;
    margin-left: 5px;
}

@media (min-width: 768px) {
    .widget-container-full {
      width: 90vw;
    }
    .widget-container-half {
      width: 45vw;
      margin-right: 10px;
    }
}

/* Media query 1024px */ /* Media query 1024px */ /* Media query 1024px */

.main {
  display: grid;
}

@media (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
    margin-top: auto;
   }

  .widget-container-half {
    width: 45vw;
  }
  .traffic, .social {
    grid-column: 1 / span 2;
  }

  section.daily {
    width: 45vw;
  }
  .daily, .members, .message {
    grid-column: 1 / span 1;
    margin-top: 3px;
  }
  .mobile, .recent-activities, .settings {
    grid-column: 2 / span 1;
  }
}


@media (min-width: 1024px) {
  header {
    grid-area: header;
    /* height: 105px; */
    height: 84px;
  }

  .nav {
    margin-top: 24px;
  }
  
  div {
    grid-area: nav;
  }
  
  main {
    grid-area: main;
  }
  
  .grid-container {
  height: 100%;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "header header"
  "nav main";
  }

  .main-header {
    margin-right: 800px;
  }

  header h1 {
    margin-left: 15px;
    font-size: 30px;
    margin-top: 7px;
  }

  h1.tradeMark {
    /* margin-left: 65px; */
    margin-left: 130px;
    margin-bottom: -26px;
    font-size: 7px;
  }

  .header-right {
    margin-left: 69%;
  }

  .alertBox1 {
    font-size: 14px;
    width: 250px;
    right: 1px;
  }

  .x-container {
    /* margin-left: 20px; */
    position: relative;
    /* bottom: 30px; */
    bottom: 32px;
    /* left: 180px; */
    left: 190px;
  }

  .notif1 {
    padding-top: 5px;
    padding-left:5px;
    /* height: 50px; */
    height: 45px;
    width: 230px;
  }

  p.alert-banner-close {
    margin-left: 620px;
    
  }

  ul.traffic-nav-button {
    margin-left: 640px;
  }

  .widget-half {
    display: flex;
  }

  .widget-half-1024px {
    width: 46vw;
  }

  hr.between-charts {
    margin-left: 10px;
  }

.members-1-container {
  margin-bottom: 16px;
}

.members-2-container {
  margin-bottom: 19px;
}

.members-3-container {
  margin-bottom: 20px;
}
.members-4-container {
  margin-bottom: 15px;
}

hr.members {
  /* margin-right: 10px; */
  margin-top: 0px;
}

div#members2Id {
  height: 65px;
}
hr#recentAct-hr {
  visibility: hidden;
}
.members-hr-1024px {
  visibility: visible;
}

  p.date-1,
  p.date-2,
  p.date-3,
  p.date-4 {
    margin-left: 0px;
  }

  p.date-1 {
    margin-left: 35%;
  }

  p.date-2 {
     margin-left: 44%
  }

  p.date-3 {
    margin-left: 41.5%
  }
  p.date-4 {
    margin-left: 43.2%;
  }

  div.arrow-1,
  div.arrow-2,
  div.arrow-3,
  div.arrow-4 {
    margin-left: 0px;
  }

  div.arrow-1 {
    margin-left: 10px;
  }

  div.arrow-2 {
    margin-left: 40px;
  }
  
  div.arrow-3 {
    margin-left: 16px;
  }

  div.arrow-4 {
    margin-left: 108px;
  }

  .message-settings-flex {
    display: flex;
  }

  input#userfield {
    width: 120%;
  }

  textarea#messageField {
    width: 120%;
    height: 102px;
    margin-bottom: 6px;
  }

  button#send {
    width: 120%;
  }

  hr.break {
    visibility: hidden;
  }

  .messageSettings-hr-1024px {
    visibility: visible;
    margin-left: 103px;
  }

  div.settings {
    /* margin-left: 100px; */
    margin-top: 15px;
  }

  label.switch-light.switch-candy {
    width: 17%;
  }

  select#timezone {
    width: 96%;
  }

  button#save {
    width: 210px;
  }

  button#cancel {
    width: 210px;
}
}





